## Decision Tree

In [2]:
import os
import pandas as pd
import numpy as np
import math
from sklearn.tree import DecisionTreeClassifier

In [5]:
headers = ["buying", "maint", "doors", "persons","lug_boot", "safety", "class"]
dataset = pd.read_csv("car_data.csv", header=None, names=headers)

dataset = dataset.sample(frac=1).reset_index(drop=True) # shuffle

dataset.head()

  buying  maint  doors persons lug_boot safety  class
0    low   high      3    more    small    med    acc
1    low   high      2       4      big    med    acc
2  vhigh  vhigh      3       4      big    low  unacc
3    low    med  5more       2    small    low  unacc
4    med    med  5more    more    small    low  unacc

In [6]:
# Transformando os dados categóricos em numéricos
for h in headers:
    dataset[h] = dataset[h].astype('category')
    dataset[h] = dataset[h].cat.codes

dataset.set_index("class", inplace=True)
dataset.head()

       buying  maint  doors  persons  lug_boot  safety
class
0           1      0      1        2         2       2
0           1      0      0        1         0       2
2           3      3      1        1         0       1
2           1      2      3        0         2       1
2           2      2      3        2         2       1

In [12]:
# Split do dataset em treino e teste
size = len(dataset)
train_size = int(math.floor(size * 0.75))
train_data = dataset[:train_size]
test_data = dataset[train_size:]

print(train_data)
print(test_data)

       buying  maint  doors  persons  lug_boot  safety
class
0           1      0      1        2         2       2
0           1      0      0        1         0       2
2           3      3      1        1         0       1
2           1      2      3        0         2       1
2           2      2      3        2         2       1
2           0      3      1        2         1       2
2           1      1      1        0         1       1
2           3      1      0        2         2       0
2           2      1      0        1         0       1
2           0      0      2        2         2       2
2           1      3      3        0         1       2
2           0      0      3        0         2       0
0           2      1      1        1         1       2
0           2      3      3        1         2       0
0           1      3      3        2         0       2
0           0      1      2        1         2       0
0           0      2      3        1         0       2
2           2      2      1        0         1       2
3           1      2      3        2         1       0
2           3      1      1        1         0       1
2           3      3      1        2         2       1
2           1      3      0        1         1       1
0           1      1      0        2         1       2
0           2      1      1        1         2       2
2           2      3      1        2         2       1
2           2      2      3        1         1       1
2           1      3      1        0         0       1
2           1      2      0        2         2       1
1           2      1      3        1         1       2
0           3      2      3        2         1       0
...       ...    ...    ...      ...       ...     ...
2           3      0      2        1         1       2
1           2      1      1        1         2       0
2           2      2      3        0         1       2
3           1      2      3        2         0       0
2           1      3      1        0         2       0
1           1      1      2        1         2       0
2           0      3      0        0         0       2
2           3      3      3        0         2       1
2           3      0      1        1         0       2
2           2      2      0        0         2       2
1           1      2      1        1         0       2
2           2      3      3        0         1       1
2           2      0      3        2         2       2
2           2      0      2        0         0       2
2           0      0      2        2         0       1
2           0      1      0        0         2       0
2           3      2      2        0         2       2
0           3      2      0        2         0       2
2           0      2      2        0         2       2
2           0      2      3        1         1       1
2           2      3      1        0         0       2
3           1      1      2        2         0       0
3           2      2      2        2         0       0
2           1      2      1        0         0       1
2           2      0      0        1         0       1
2           3      1      0        0         2       1
2           2      0      3        0         0       2
1           2      1      2        2         1       2
2           0      2      0        0         2       1
2           3      3      2        0         2       1

[1296 rows x 6 columns]
       buying  maint  doors  persons  lug_boot  safety
class
2           1      2      2        0         0       1
2           1      0      0        1         0       1
0           2      3      3        1         0       2
2           0      3      3        2         0       1
2           1      2      3        1         2       1
2           0      3      2        2         0       1
2           3      3      2        2         0       2
0           0      0      3        1         2       0
2           0      2      0        1         2       1
2           2      2      2        2         2       1
2           0      1      3        0         1       0
2           1      0      0        2         1       1
2           2      2      1        0         2       1
0           2      3      3        1         1       0
0           3      2      1        2         1       2
2           2      3      2        0         2       2
2           0      2      1        2         2       1
2           0      1      1        0         2       0
2           3      0      0        1         1       0
2           2      3      1        1         2       1
2           1      3      0        1         2       1
0           0      0      3        1         0       0
2           1      3      0        0         1       2
0           2      2      0        2         1       0
2           3      0      0        2         0       2
2           1      0      2        2         1       1
2           2      1      2        0         1       1
2           1      0      0        2         2       1
2           3      0      0        2         2       0
2           2      0      0        1         2       1
...       ...    ...    ...      ...       ...     ...
1           1      1      0        2         0       2
2           3      3      0        1         0       2
2           0      3      2        2         1       1
2           0      1      2        0         1       2
2           3      0      2        1         1       1
0           1      1      1        2         2       2
2           3      0      0        0         2       0
2           2      3      1        0         2       0
0           1      2      0        1         1       2
2           0      1      2        0         2       0
2           3      1      0        0         0       1
2           1      3      2        0         0       0
2           0      0      2        0         1       1
0           3      1      2        1         1       0
2           2      0      0        0         2       2
0           0      0      2        1         1       0
2           2      3      0        0         2       2
2           3      2      0        0         2       2
2           1      0      3        1         2       1
2           2      2      2        2         1       1
3           1      1      3        2         0       0
2           0      0      2        1         2       2
2           2      2      0        1         0       1
2           3      2      3        1         2       1
0           0      2      1        1         1       0
2           0      1      0        2         1       1
2           3      0      3        0         0       2
2           3      1      2        1         1       1
0           0      1      0        1         0       0
2           2      3      0        2         2       1

[432 rows x 6 columns]

In [13]:
# Treinando a árvore de decisão com critério gini

d_tree = DecisionTreeClassifier(criterion="gini")
d_tree.fit(train_data, train_data.index)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [14]:
# Fazendo as predições através da árvore de decisão
d_tree.predict(test_data.iloc[:, 0:6])

d_tree.score(test_data, test_data.index)

0.97453703703703709