# Regressão Linear Multivariada - Trabalho

## Estudo de caso: Qualidade de Vinhos

Nesta trabalho, treinaremos um modelo de regressão linear usando descendência de gradiente estocástico no conjunto de dados da Qualidade do Vinho. O exemplo pressupõe que uma cópia CSV do conjunto de dados está no diretório de trabalho atual com o nome do arquivo *winequality-white.csv*.

O conjunto de dados de qualidade do vinho envolve a previsão da qualidade dos vinhos brancos em uma escala, com medidas químicas de cada vinho. É um problema de classificação multiclasse, mas também pode ser enquadrado como um problema de regressão. O número de observações para cada classe não é equilibrado. Existem 4.898 observações com 11 variáveis de entrada e 1 variável de saída. Os nomes das variáveis são os seguintes:

1. Fixed acidity.
2. Volatile acidity.
3. Citric acid.
4. Residual sugar.
5. Chlorides.
6. Free sulfur dioxide. 
7. Total sulfur dioxide. 
8. Density.
9. pH.
10. Sulphates.
11. Alcohol.
12. Quality (score between 0 and 10).

O desempenho de referencia de predição do valor médio é um RMSE de aproximadamente 0.148 pontos de qualidade.

Utilize o exemplo apresentado no tutorial e altere-o de forma a carregar os dados e analisar a acurácia de sua solução.

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from math import sqrt
from sklearn.model_selection import train_test_split

In [3]:
def predict(row, coefficients):
    yhat = coefficients[0]
    for i in range(len(row)-1):
        yhat += coefficients[i + 1] * row[i]
    return yhat

def coefficients_sgd(train, l_rate, n_epoch):
    coef = [0.0 for i in range(len(train[0]))]
    print ('Coeficiente Inicial={0}' % (coef))
    for epoch in range(n_epoch):
        sum_error = 0
        for row in train:
            yhat = predict(row, coef)
            error = yhat - row[-1]
            sum_error += error**2
            coef[0] = coef[0] - l_rate * error
            for i in range(len(row)-1):
                coef[i + 1] = coef[i + 1] - l_rate * error * row[i] 
        print(('epoch=%d, lrate=%.3f, error=%.3f' % (epoch, l_rate, sum_error)))
    return coef

def rmse_metric(actual, predicted):
    sum_error = 0.0
    for i in range(len(actual)):
        prediction_error = predicted[i] - actual[i]
        sum_error += (prediction_error ** 2)
        mean_error = sum_error / float(len(actual))
    return sqrt(mean_error)

In [23]:
import random
def splitDataset(dataset, splitRatio):
    trainSize = int(len(dataset) * splitRatio)
    trainSet = []
    copy = list(dataset)
    while len(trainSet) < trainSize:
        index = random.randrange(len(copy))
        trainSet.append(copy.pop(index))
    return [trainSet, copy]

In [24]:
data =  pd.read_csv('winequality-white.csv',delimiter=';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [27]:
i=data.get('quality')

In [28]:
x = data.values 
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(data)
data = pd.DataFrame(x_scaled)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.307692,0.186275,0.216867,0.308282,0.106825,0.149826,0.373550,0.267785,0.254545,0.267442,0.129032,0.5
1,0.240385,0.215686,0.204819,0.015337,0.118694,0.041812,0.285383,0.132832,0.527273,0.313953,0.241935,0.5
2,0.413462,0.196078,0.240964,0.096626,0.121662,0.097561,0.204176,0.154039,0.490909,0.255814,0.338710,0.5
3,0.326923,0.147059,0.192771,0.121166,0.145401,0.156794,0.410673,0.163678,0.427273,0.209302,0.306452,0.5
4,0.326923,0.147059,0.192771,0.121166,0.145401,0.156794,0.410673,0.163678,0.427273,0.209302,0.306452,0.5

In [29]:
ds = np.column_stack([data, i])

In [30]:
train, test = train_test_split(ds, test_size = 0.3)

In [31]:
l = 0.001
ep = 50

In [32]:
coefficients_sgd(train, l, ep)

Coeficiente Inicial={0}
epoch=0, lrate=0.001, error=10184.773
epoch=1, lrate=0.001, error=1238.888
epoch=2, lrate=0.001, error=1087.924
epoch=3, lrate=0.001, error=959.789
epoch=4, lrate=0.001, error=850.077
epoch=5, lrate=0.001, error=755.439
epoch=6, lrate=0.001, error=673.278
epoch=7, lrate=0.001, error=601.555
epoch=8, lrate=0.001, error=538.651
epoch=9, lrate=0.001, error=483.262
epoch=10, lrate=0.001, error=434.326
epoch=11, lrate=0.001, error=390.967
epoch=12, lrate=0.001, error=352.458
epoch=13, lrate=0.001, error=318.183
epoch=14, lrate=0.001, error=287.623
epoch=15, lrate=0.001, error=260.332
epoch=16, lrate=0.001, error=235.927
epoch=17, lrate=0.001, error=214.074
epoch=18, lrate=0.001, error=194.484
epoch=19, lrate=0.001, error=176.904
epoch=20, lrate=0.001, error=161.112
epoch=21, lrate=0.001, error=146.912
epoch=22, lrate=0.001, error=134.131
epoch=23, lrate=0.001, error=122.617
epoch=24, lrate=0.001, error=112.234
epoch=25, lrate=0.001, error=102.864
epoch=26, lrate=0.001, error=94.398
epoch=27, lrate=0.001, error=86.742
epoch=28, lrate=0.001, error=79.813
epoch=29, lrate=0.001, error=73.535
epoch=30, lrate=0.001, error=67.841
epoch=31, lrate=0.001, error=62.671
epoch=32, lrate=0.001, error=57.973
epoch=33, lrate=0.001, error=53.698
epoch=34, lrate=0.001, error=49.804
epoch=35, lrate=0.001, error=46.254
epoch=36, lrate=0.001, error=43.013
epoch=37, lrate=0.001, error=40.051
epoch=38, lrate=0.001, error=37.341
epoch=39, lrate=0.001, error=34.858
epoch=40, lrate=0.001, error=32.581
epoch=41, lrate=0.001, error=30.490
epoch=42, lrate=0.001, error=28.567
epoch=43, lrate=0.001, error=26.797
epoch=44, lrate=0.001, error=25.165
epoch=45, lrate=0.001, error=23.659
epoch=46, lrate=0.001, error=22.268
epoch=47, lrate=0.001, error=20.980
epoch=48, lrate=0.001, error=19.788
epoch=49, lrate=0.001, error=18.682

[2.7171123779655759,
 0.32237351462668024,
 -0.23875554941991181,
 0.15948690744073757,
 0.29469107537075606,
 0.13968512588519358,
 0.25888766368686994,
 0.14422912859481937,
 0.22814769557901651,
 0.17435297726779794,
 0.032503135309470799,
 0.39766219527356844,
 5.606197285332839]